<?xml version="1.0" encoding="UTF-8"?>
<!-- 일반적으로 XML선언은 XML문서의 첫 번째 줄에 나타납니다. -->
<!-- C:\Tomcat 9.0\conf\web.xml -->
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                     
  http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- http://localhost:8088/Board_Ajax 주소로 요청이 온 경우
		webapp 아래에 welcome-file 파일을 차례대로 찾습니다. -->
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
 
</web-app>
