/* css/style.css */
/* 선택자종류
아이디선택자 #id
클래스선택자 .id
속성선택자   id[src]
 */

/*전체 위,왼쪽 여백주기*/
form {
	margin-top:20px;
	margin-left:80px
}

.board_select { /*게시판종류, 선택라인 하나로 통합*/
	display:inline-block; 
}

.board_drop { /*드롭전체 div 크기 100%설정*/
	width:100%;
}
.board_select {
	width:40%;
}
.select_option {
	border-color: #d9d9d9;
	border-width:0.3px;
	font-size:16px;
	margin:0px 55px;
	width:45%;
	text-align: center;
}
.board_subject {
	margin:20px 0px;
	width : 80%;
	border-color: #d9d9d9;
	border-width:0.3px;
}
.board_subject_main {
	margin-left : 100px;
	width: 73%;
	font-size: 16px;

}
