css/style.css
/* 선택자종류
아이디선택자 #id
클래스선택자 .id
속성선택자   id[src]
 */
.an {
	text-decoration:none;
}

#b-main {
	margin-left:6%;
	margin-top:30px;
}

h4 {
	margin-bottom: 30px;
}
.board_table {
	margin-top:30px;
	border-collapse: collapse;
	text-align:center;
	width:1100px;
}

.board_recent{
	padding:10px;
    width: 10%;
    height: 20px;
    text-align: center;
    margin: 5px;
    border: 1px solid gray;
    border-width: 0px;
}
	
.board_table div {
	margin:15px;
}

.List-end div {
	display:inline-block;
	margin:-30px;
}

#board_write {
	color:white;
	margin-left:20px;
    border: none;
    display: inline-block; 
    font-size: 16px; 
    background-color: #A0C1B9;
    width:90px;
    height:35px;
    border-radius: 5px;
    margin-top:5px;
}
.sc {
	margin-left: 44%;
}

#b-main > table > tbody > tr {
border-top:1px solid #ccc;
}

.board_subject {
	border:1px solid gray;
}
#t-head > tr {
	border:1px solid gray; 
		border-width: 0px 0px 1px 0px;
}

.board_table tr:last-child {
	border:1px solid gray;
	border-width: 0px 0px 1px 0px;
}

#board_write {
	margin:20px;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 50px 0 20px 400px; /* 상단 여백은 20px, 왼쪽 여백은 50px, 나머지 여백은 하단 20px으로 조정 */
}


.pagination ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
margin-top: 0;
    margin-bottom: 1rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #A0C1B9;
    border-color: #A0C1B9;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #A0C1B9;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


