/* css/style.css */
/* 선택자종류
아이디선택자 #id
클래스선택자 .id
속성선택자   id[src]
 */

/*전체 위,왼쪽 여백주기*/
#B-main {
	margin-top:80px;
	margin-left:80px
}

.board_select { /*게시판종류, 선택라인 하나로 통합*/
	display:inline-block; 
}

.board_drop { /*드롭전체 div 크기 100%설정*/
	width:100%;
}
.board_select {
	width:40%;
}
.select_option {
	border-radius:5px;
	border-color: #d9d9d9;
	border-width:0.3px;
	font-size:16px;
	margin:0px 55px;
	width:45%;
	text-align: center;
	height:30px;
}
.board_subject {
	margin:20px 0px;
	width : 80%;
	border-color: #d9d9d9;
	border-width:0.3px;
}
.board_subject_main {
	border-radius:5px;
	margin-left : 100px;
	width: 72.5%;
	font-size: 16px;
	height:30px;
}
#board_content {
	border-radius:5px;
	border:1px solid black;
	background-color:white;
	width : 68%;
	height : 60%;
}
.board_main_buttons {
	margin-top : 10px;
	border-color:black;
	border-width:0.3px;
}

.B_button {
	color:black;
	margin: auto;
    border: none;
    display: inline-block; 
    font-size: 16px; 
    background-color: #A0C1B9;
    width:110px;
    height:35px;
    border-radius: 5px;
    margin-top:5px;
}

#board_cancel {
	margin-left:620px;
}


#board_notification {
	border-width:0.3px;
	margin-right:1200px;
	color:black;
	margin: auto;
    border: none;
    display: inline-block; 
    font-size: 16px; 
    background-color: #A0C1B9;
    width:110px;
    height:35px;
    border-radius: 5px;
    margin-top:5px;
}

#board_cancel {
	color:red;
	background-color: #d9d9d9;
	margin-right:30px;
}

#board_save {
	color:black;
	background-color:#A0C1B9;
}

.file_select {
	border-radius:5px;
	padding:4px;
	border:1px solid black;
	background-color: #d9d9d9;
	width:65%;
	height:30px;
}
