/* css/style.css */
/* 선택자종류
아이디선택자 #id
클래스선택자 .id
속성선택자   id[src]
 */


 
form {  /* 페이지 상단, 좌우 여백 */
position : fixed;
margin : 0px 80px;
}
 
.board_select {
	font-size : 20px;
	display : inline-block;
	margin : 40px 0px 40px 0px;
	letter-spacing : 5px;
}

.select_option {
	font-size : 20px;
	width: 350px;
	height: 40px;
	margin : 0px 80px;
	text-align : center;
	border-color : #c0c0c0;
}

.board_subject {
	font-size : 20px;
	display: inline-block;
	width: 200px;
	margin: 20px 0px;
	letter-spacing : 33px;
}

.board_subject_main {
	font-size : 20;
	width:1100px;
	height:40px;
	text-align : center;
	border-color : #c0c0c0;
}

#board_inputsubject {
	width: 500px;
	height : 40px;
}

textarea {
	margin-top : 60px; 
	width : 1400px;
	height : 500px;
}