/* css/style.css */
/* 선택자종류
아이디선택자 #id
클래스선택자 .id
속성선택자   id[src]
 */
.basic {
	margin-top:80px;
	margin-left:80px
}
#V-subject {
	margin-bottom:10px;
}

.B-inline {
	display:inline-block;
	margin-bottom:10px;
}

.btn btn-primary {   /* 안되는중 */
	margin-right:40%
}

#V-file {
	margin:5px;
}

#V-button1 {
	margin-left:620px;
	margin-right:15px;
	border-radius:5px;
	color: black;
    border: none;
    display: inline-block;
    font-size: 16px;
    background-color: #A0C1B9;
    width: 60px;
    height: 35px;
    margin-top: 5px;
}

#V-button2 {
	border-radius:5px;
	color: red;
    border: none;
    display: inline-block;
    font-size: 16px;
/*     background-color: #A0C1B9; */
    width: 60px;
    height: 35px;
    margin-top: 5px;
}

.container {
	margin-bottom: 30px;
    border-collapse: collapse;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    width: 70%;
}

#V-content {
	width: 70%;
    height: 300px;
    border-width: 0px 0px 1px 0px;
}

.last-line-container {
	width:70%;
	border-radius:5px;
	padding:4px;
	border:1px solid black;
	background-color: #d9d9d9;
	height:25px;
	margin-bottom: 10px;
}

.last-line {
	margin-left:500px;
	display:inline-block;
}


.listbtn {
    margin-left: 1375px;
    margin-right: 15px;
    border-radius: 5px;
    color: black;
    border: none;
    display: inline-block;
    font-size: 16px;
    background-color: #A0C1B9;
    width: 60px;
    height: 35px;
    margin-top: 5px;
}
	
.comment-write-area-text {
	width:60%;
	border:1px solid black;
	height:20px;
	font-size:16px;
}

.comment-write {
	height:30px;
	border:1px solid black;
}





#comment>table>tbody>tr>td:nth-child(2) {
	width: 60%
}

.comment-order-list {
	height: 50px;
}
.comment-area .comment-head .comment-count {
	float: left;
	margin-top: 3px;
	margin-right: 12px;
	font-size: 17px;
}

.comment-area .comment-head .comment-order .comment-order-list {
	margin-top: 4px;
	font-size: 13px;
	vertical-align: top;
}

.comment-area .comment-head .comment-order .comment-order-item:first-child
	{
	margin-left: 0;
}

.comment-area .comment-head .comment-order .comment-order-item {
	float: left;
	margin-left: 8px;
}

.comment-order-button {
	color: #b7b7b7;
	font-weight: 700;
}

.comment-area {
	margin:50px;
	border-top: 1px solid #ebecef;
	margin-bottom:100px;
}

.comment-area .comment-head {
	position: relative;
	padding-top: 16px;
	margin-bottom: 11px;
}

.comment-area .comment-list .comment-nick-box, .comment-list-item--reply
	{
	margin-bottom: 4px;
}

.comment-area .comment-list .comment-nick-area {
	position: relative;
	padding: 12px 23px 10px 0;
}

.comment-list-item--reply.lev1 {
	margin-left: 46px;
}

.comment-list-item--reply.lev2 {
	margin-left: 92px;
}

.comment-area .comment-list .comment-list-item {
	position: relative;
	border-top: 1px solid #f2f2f2;
}

.comment-area .comment-list .comment-nick-box .comment-nickname {
	font-weight: 700;
}

.comment-area a {
	color: inherit;
}

.comment-area .comment-list .comment-info-box {
	margin-top: 7px;
	font-size: 12px;
	color: #979797;
}

.comment-area .comment-list .comment-tool .comment-tool-button {
	display: block;
	width: 16px;
	height: 16px;
	text-align: right;
	cursor: pointer;
}

.comment-area .comment-list .comment-tool {
	position: absolute;
	top: 12px;
	right: 0;
}

.comment-tool-button div {
	transform: rotate(90deg);
	color: #979797
}

.comment-area .comment-list+.comment-write {
	margin-top: 30px;
}

.comment-write {
	width:50%;
	height:100px;
	margin:30px;
	padding: 16px 10px 10px 18px;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	box-sizing: border-box;
	background: #ffffff;
}

.comment-write .comment-write-area {
	position: relative;
	margin-bottom: 10px;
}

.comment-write .comment-write-area-text {
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	width: 100%;
	min-height: 17px;
	padding-right: 1px;
	border: 0;
	font-size: 13px;
	resize: none;
	box-sizing: border-box;
	background: transparent;
	color: #000000;
	outline: 0;
}

.comment-write .register-box .button {
	display: inline-block;
	min-width: 46px;
	height: 34px;
	line-height: 36px;
	font-size: 13px;
	color: #b7b7b7;
	border-radius: 6px;
	box-sizing: border-box;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
}

.comment-area .comment-list .comment-tool .LayerMore {
	left: auto;
	right: 0;
	margin-top: 7px;
}

.comment-tool-button:focus, .comment-tool-button:visited {
	outline: none;
}

.comment-list-item .comment-nick-area img {
	border-radius: 50%;
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
}

.comment-write-area-text {
	overflow: hidden;
	overflow-wrap: break-word;
	height: 17px;
}

.comment-write-area-count {
	font-size: small;
	color: #b7b7b7;
	float: right
}

.comment-write-area-name {
	font-size: small;
}

.register-box {
	height: 20px;
}

.comment-write .register-box .btn-cancel {
	display: none;
}


.comment-order-list, .comment-list {
	list-style-type: none;
}

.boardlist-btn-container {
	width:70%;
	height:30px;
}

.reply-cancel {
	float:right;
}

