body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #284B63; 
}

.container {
    margin: 2em auto;  /* 위아래 여백 줄임 */
    border: none;
    width: 500px;
    height: 600px; /* 원하는 높이로 설정 */
    padding: 30px 25px;
}

form {
    background-color: #D9D9D9;
    margin: 5% auto;  /* 여백을 줄여서 폼의 크기를 더 크게 만듦 */
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;      /* 폼의 너비를 늘림 */
    height: 500px;
}

input {
    border-radius: 3px;
    border: 1px solid lightgray;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
}

input[type=text]:focus, input[type=password]:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    outline: none;
}

button {
    background-color: #3C6E71;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    width: 100%;
    opacity: 0.9;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

button:focus {
    outline: none;
}

.join {
    padding: 14px 20px;
    background-color: #353535;
}

.join, .submitbtn {
    height: 45px;
    float: left;
    width: 50%;
}

a {
    color: white;
    text-decoration: none;
}



hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

span {
    vertical-align: top;
}

@media screen and (max-width: 300px) {
    .join, .signupbtn {
        width: 100%;
    }
}
