/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* 살짝 회색배경으로 세련된 느낌 */
    padding-left: 280px; /* 사이드바 너비 + 추가 여백 10px */
}

a {
    transition: 0.3s; /* 부드러운 전환 효과 추가 */
}

/* 제목 영역 */
h3 {
    color: #353535; 
    font-size: 24px;
    padding-bottom: 15px;
    border-bottom: 2px solid #3C6E71; 
    margin-top: 50px;
}

/* 메뉴 선택 버튼 */
.btn_menu_select:hover {
    background-color: #353535;
}

/* 메뉴 테이블 */
table {
	border: 2px solid #3C6E71; 
    border-radius: 5px; /* 테이블 모서리 둥글게 */
    margin-left: 450px;
    margin-right: auto;
    width: 350px; /* 270px 사이드바 너비 + 추가 여백 10px를 제외한 최대 너비 */
}

table th {
    padding: 15px 8px;
}

table td {
    padding: 12px 8px;
}

/* 장바구니 영역 */
.cart-table {
    border: 2px solid #3C6E71; 
    margin-top: 50px;
    margin-left: 450px;
    margin-right: auto;
}

#totalPrice {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #353535;
}

/* 결제하기 버튼 */
#btn_payment {
    margin-top: 0px;
    background-color: #3C6E71;
    color: #FFFFFF;
    border: none;
    margin-left: 500px;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    width: 200px;       /* 버튼의 너비를 지정합니다. */
    height: 65px;       /* 버튼의 높이를 지정합니다. */
    font-size: 24px;    /* 텍스트 크기를 조절합니다. */
    line-height: 60px;  /* 버튼 높이와 일치시켜 텍스트를 버튼 중앙에 위치시킵니다. */
    text-align: center; /* 텍스트를 버튼 중앙에 위치시킵니다. */
    text-decoration: none;
}

#btn_payment:hover {
    background-color: #353535;
}

/* 아이템 선택시 밑줄 */
.item-link {
    display: block; 
    padding: 5px; 
    border-radius: 3px; 
}

.item-link:hover {
    background-color: #3C6E71;
    color: #FFFFFF;
}

.delete-item:hover {
    color: #3C6E71;
}
