
/*--------[chatmain.jsp]: 메신저메인-------*/
div.left {
	flex:1;
	box-sizing: border-box;
	height: 100%;
	position:relative;
	overflow-y: scroll;
}


div.right {
	flex:2;
   box-sizing: border-box;
   height: 100%;
   border-left: 3px solid lightgray;
}

body > div.main > div > div.left > div.search {
	width:100%;
	height: 60px;
	border-bottom: 3px solid lightgray;
}

body > div.main > div > div.left > div.search> form > input[type=text]{
	height: 30px;
	width:300px;
	margin-left:10px;
	margin-top:10px;
}

body > div.main > div > div.left > div.search > form > button{
	background:none;
	border: none;
	padding: 0;
	cursor:pointer;
}

body > div.main > div.left > div.search > form{
	display: inline-block;
}

body > div.main > div > div.left > div.search > form > button{
	margin-left:10px;
}

#addbtn{
	margin-left:10px;
}



table.chatMemberList {
	width: 100%;
	border-collapse:collapse;
	
}

div.left > table > tbody > tr{
	border-bottom: 1px solid black;
}

div.dept{
	width:70px;
	height: 20px;
	border-radius: 2em;
	background: #A0C1B9;
	color: white;
	font-size: 13px;
	text-align: center;
}

div.myProfile{
	margin-left:20%;
	margin-top:15%;
	display: inline-block;
	float: left;
}

div.right > div.myProfile > div:nth-child(2){
	display: inline-block;
	margin-left: 40px;
}

div.right > div.myProfile > div:nth-child(3){
	display: inline-block;
}

div.myProfile_desc{
	position:relative;
   display:inline-block;
   left: 20px;
   top:30%;
}

div.myProfile_desc > div:nth-child(1){
    margin-bottom: 15px;
}

div.myProfile_desc > div:nth-child(2){
    margin-bottom: 15px;
}

div.myProfile_desc > div:nth-child(3){
    margin-bottom: 15px;
}

div.right > div:nth-child(3){
    margin-top: 500px;
    margin-left: 10px;
}

/*-------------- 팝업 시작 -------------*/
.pop-layer .pop-container {
  padding-top:10px;
  padding-left:20px;
}


.pop-layer .btn-r {
  width: 50%;
  margin: 0px 0 20px;
  padding-top: 10px;
  text-align: right;
  float: left;
}

.layerP{
	position:relative;
}



#layer1{/*-- status_layer--*/
  display: none;
  position: absolute;
  margin-top: 10px;
  width:160px;
  height:200px;
  border: 1px solid black;
  background-color: white;
  
}
 div.right > div:nth-child(3){
	 position:relative;
 }

#layer2{/*-- font_setting_layer-*/
	display:none;
	position:absolute;
	width:180px;
	border:1px solid black;
	background-color: white;
	bottom: 45px;
	left: 30px;
}

#layer3{/*-- freindProfile_layer--*/
	display:none;
	position:absolute;
	width:300px;
	border: 1px solid black;
	background-color:white;
}

#layer3 div.dept{
	margin-bottom: 10px;
}

#layer3 > div{
	padding-left: 70px;
}

#layer4{/*-- solChatStart_layer--*/
	display:none;
	position:absolute;
	width:140px;
	border: 1px solid black;
	background-color:white;
}
#layer4 > div{
	padding-left: 5px;
	padding-right: 5px;
}
a.btn-layerClose {
  display: inline-block;
	width:60px;
	height:35px;
  background-color: #D9D9D9;
  font-size: 13px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right:30px;
}

div.btn-r{
	display:inline-block;
}
#layer1 > div > div > table a{
	color:black;
}
#chatsubmitbtn{
	background-color: #A0C1B9;
	width:60px;
	height:35px;
	color:white;
	border:none;
	float: right;
}



/*----------[chatList.jsp]: 메신저 채팅-------*/
.parent{
	display:flex;
	height: 100%;
}


div.main > div > div.chatroom{
	flex:0.8;
	border-left:2px solid lightgray;
	height: 100%;
}

div.main > div > div.profiles{
	flex:1;
	border-left:2px solid lightgray;
	height: 100%;
}

body > div.main > div > div.chatroom > div:nth-child(1) > span{
	font-weight: bold;
    font-size: 23px;
}
body > div.main > div > div.chatroom > div:nth-child(1) > span:nth-child(3){
	font-size: 18px;
	font-weight: 500;
}

 .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .rules-list {
    padding: 0;
    list-style-type: none;
  }

  .rules-list li {
    margin-bottom: 10px;
  }

  .footer {
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
  }

.chatroom {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;;
  }
/*------ 채팅방: div.chatroom ----*/
a {
    text-decoration: none;
}

.wrap {
    padding: 40px 0;
    background-color: rgb(255, 255, 255);
}

.wrap .chat {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.wrap .chat .icon {
    position: relative;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}

.wrap .chat .icon i {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2.5rem;
    color: #aaa;
    transform: translateX(-50%);
}

.wrap .chat .textbox {
    position: relative;
    display: inline-block;
    max-width: calc(100% - 70px);
    padding: 10px;
    margin-top: 7px;
    font-size: 13px;
    border-radius: 10px;
}

.wrap .chat .textbox::before {
    position: absolute;
    display: block;
    top: 0;
    font-size: 1.5rem;
}

.wrap .ch1 .textbox {
    margin-left: 20px;
    background-color: #ddd;
}

.wrap .ch1 .textbox::before {
    left: -15px;
    content: "◀";
    color: #ddd;
}

.wrap .ch2 {
    flex-direction: row-reverse;
}

.wrap .ch2 .textbox {
    margin-right: 20px;
    background-color: #F9EB54;
}

.wrap .ch2 .textbox::before {
    right: -15px;
    content: "▶";
    color: #F9EB54;
}

div.chatroom > div:nth-child(1){
    margin-top: 10px;
    margin-left: 5px;
}

div.inputWindow{
	width:100%;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	height: 70px;
}

div.chatroom > div.inputWindow > input[type=text]{
	width:80%;
	margin-top: 15px;
	margin-left:5px;
}

div.inputWindow > img:nth-child(3){
	margin-left:5px;
}

div.inputWindow > img:nth-child(2){
	margin-left:10px;
}

#sendButton{
	background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.right-aligned{
	text-align: right;
}
/*-------- 참가자 프로필 div.profiles-------*/


div.chatroom > div:nth-child(1) > span{
	 font-size: small;
}

div.profiles > div:nth-child(1) {
	 margin-top: 62px;
	 margin-left: 20px;
	 display:inline-block;
}

div.participants{
	position:relative;
   display:inline-block;
   left: 20px;
	
}

div.profiles > div:nth-child(1) > img{
	display:inline-block;
}

div.profiles > div:nth-child(1) > span{
	display:inline-block;
}

div.profiles > div:nth-child(1) > div:nth-child(2) > span{
	font-size:13px;margin-left: 20px;
}

div.profiles > div.participants_desc{
	display:inline-block;
}

div.participants_desc > div.dept{
	margin-bottom: 10px;
}

/*------ 채팅방 리스트 : div.chatList --------*/
p.chatRoomName{
	margin:0;
}

p.lastMessage{
    margin: 0;
    font-size: 13px;
}

 div.chatlist > table {
	width: 100%;
	border-collapse:collapse;
}

div.chatlist > table > tbody > tr{
	border-bottom: 1px solid black;
	height: 55px;
}

div.chatlist > table > tbody > tr > td:nth-child(1){
	width: 30px;	
}

div.chatlist > table > tbody > tr > td:nth-child(2){
	padding-left:10px;	
}
