table caption {
	caption-side: top;
	text-align: center
}

.modaltable th{
	width:100px;
	
}
h4{
	margin-left:40px;
	margin-top:40px;
	margin-bottom:40px;
	
}
.modify_modal table{
	margin-top:30px;
	text-align:left;
	margin-left:50px;
	text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align:center;
}

select {
    word-wrap: normal;
}

.clearfix{
	text-align:center;
	margin-top:50px;
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}

.search_btn{
	background-color:#A0C1B9;
    border: 1px solid #ced4da;
	border-radius: 0.25rem;
	height:30px;
	color:white;
}

#search_word{
	height:25px;
	display:inline-block;
	border-radius: 5px;
	box-shadow:0;
	border-style:solid;
	border: 1px solid #ced4da;
}



.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 50px 0 20px 400px;
}



#tab-1, #tab-2, #tab-3{
	margin-left:35px;
}

/*
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
*/

.nodata{
	text-align:center;
	color:gray;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #A0C1B9;
    border-color: #A0C1B9;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #A0C1B9;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.input-group{
	margin-top:30px;
	margin-left:35px;
	text-align:left;
	margin-bottom: 3em;
}

#viewcount{
	height:28px;
}

#order{
	display:inline-block;
	margin-right:10%;
	margin-bottom:30px;
}

.triangle-btn {
  position: relative;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
}

.triangle-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent #2980b9;
}


h1 {
	text-align: center
}

li .gray {
	color: gray;
}

body>div>table>tbody>tr>td:last-child>a {
	color: red
}

.search_memberlist{
	margin: auto;
	width: 80%;
	text-align: center;
	display:inline-block;
	height:80px;
}

select {
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	outline: none;
}

.content {
	text-align:center;
}

td:nth-child(1) {
	width: 100px;
}


.table{
	margin-bottom:1rem;
}

table{
	border-collapse:collapse;
	border-bottom-color:gray;
	font-size:16px;
	margin-bottom:16px;
	width:1100px;
}

th{
	display:table-cell;
	padding-bottom:12px;
	padding-left:12px;
	padding-right:12px;
	padding-top:12px;
}


h3{
	margin-top:50px;
	margin-left:80px;
}

ul.tabs{
	margin:0px;
	padding:0px;
	list-style:none;
	margin-left:35px;
	border-bottom:1px solid #ccc;
	width:1100px;
}

ul.tabs li{
	background:none;
	color:#222;
	display:inline-block;
	padding:10px 15px;
	cursor:pointer;
	border-bottom:none;
	border : 1px solid #ccc;
	border-radius:5px 5px 0 0;
}

ul.tabs li.current{
	background: #ededed;
	color:#222;
	border:1px solid #ccc;
	border-bottom:none;
	border-radius:5px 5px 0 0; 
}

ul.tabs li:not(.current) {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none; /* Remove the bottom border for non-current tabs */
    border-radius: 5px 5px 0 0;
}

.tab-content{
	display:none;
}

.tab-content.current{
	display: inherit;
}


.profile_position{
	height:250px;
	width:1200px;
}


.container{
	margin-left:auto;
	margin-right:auto;
}

.submitbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
	font-size: 16px; 
 	background-color: #A0C1B9;
 	width:60px;
 	height:35px;
 	border-radius: 5px;
	margin-top:5px;
}

.cancelbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
	font-size: 16px; 
 	background-color: #D9D9D9;
 	width:60px;
 	height:35px;
 	border-radius: 5px;
	margin-top:5px;
}

.admitbtn, .undoblockbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
 	background-color: #A0C1B9;
 	border-radius: 5px;
 	height:30px;
}
.blockbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
 	background-color: #CAD5BD;
 	border-radius: 5px;
 	height:30px;
}

.rejectbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
 	background-color: #D9D9D9;
 	border-radius: 5px;
 	height:30px;
}
.deletebtn{
	margin: auto;
	border: none;
 	display: inline-block; 
 	background-color: #D9D9D9;
 	border-radius: 5px;
 	height:30px;
}
.modifybtn{
	margin: auto;
	border: none;
 	display: inline-block; 
 	background-color: #A0C1B9;
 	border-radius: 5px;
 	height:30px;
}



a{
  text-decoration: none;
}
