table caption {
	caption-side: top;
	text-align: center
}

.modaltable th{
	width:100px;
	
}
h4{
	margin-left:50px;
	margin-top:40px;
	
}
.modify_modal table{
	margin-top:30px;
	text-align:left;
	margin-left:50px;
	text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align:center;
}

select {
    word-wrap: normal;
}

.clearfix{
	text-align:center;
	margin-top:50px;
}

button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
select {
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}

.search_btn{
	background-color:#A0C1B9;
    border: 1px solid #ced4da;
	border-radius: 0.25rem;
}


.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 50px 0 20px 400px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

#tab-1, #tab-2, #tab-3{
	margin-left:20px;
	margin-top:20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.nodata{
	text-align:center;
	color:gray;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #A0C1B9;
    border-color: #A0C1B9;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #A0C1B9;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.input-group{
	margin-top:30px;
	margin-right:50px;
	text-align:right;
}


a{
  text-decoration: none;
   color: white;
}

#order{
	display:inline-block;
	margin-right:10%;
	margin-bottom:30px;
}

.triangle-btn {
  position: relative;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
}

.triangle-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 0 30px;
  border-color: transparent transparent transparent #2980b9;
}


h1 {
	text-align: center
}

li .gray {
	color: gray;
}

body>div>table>tbody>tr>td:last-child>a {
	color: red
}

.search_memberlist{
	margin: auto;
	width: 80%;
	text-align: center;
	display:inline-block;
	height:80px;
}

select {
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	outline: none;
}

.content {
	text-align:center;
}

td:nth-child(1) {
	width: 100px;
}

.input-group {
	margin-bottom: 3em
}

.table{
	margin-bottom:1rem;
}

table{
	border-collapse:collapse;
	border-bottom-color:gray;
	font-size:16px;
	margin-bottom:16px;
	width:1000px;
}

th{
	display:table-cell;
	padding-bottom:12px;
	padding-left:12px;
	padding-right:12px;
	padding-top:12px;
}

/**/
html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
}

h3{
	margin-top:50px;
	margin-left:80px;
}

ul.tabs{
	margin:0px;
	padding:0px;
	list-style:none;
	margin-left:35px;
}

ul.tabs li{
	background:none;
	color:#222;
	display:inline-block;
	padding:10px 15px;
	cursor:pointer;
}

ul.tabs li.current{
	background: #ededed;
	color:#222;
}

.tab-content{
	display:none;
	padding:15px;
}

.tab-content.current{
	display: inherit;
}


.profile_position{
	height:250px;
	width:1200px;
}


.container{
	margin-left:auto;
	margin-right:auto;
}

.submitbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
	font-size: 16px; 
 	background-color: #A0C1B9;
 	width:60px;
 	height:35px;
 	border-radius: 5px;
	margin-top:5px;
}

.cancelbtn{
	margin: auto;
	border: none;
 	display: inline-block; 
	font-size: 16px; 
 	background-color: #D9D9D9;
 	width:60px;
 	height:35px;
 	border-radius: 5px;
	margin-top:5px;
}




.nav_logo, #logo {
	margin-top: 2px;
	width: 250px;
	height: 100%;
	object-fit: cover;
}

.sidebar {
	position: fixed;
	left: 0;
	width: 270px;
	height: 100%;
	background-color: #284B63;
	z-index: 40;
}

.main { /* 페이지 작성 부분 */
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	padding-top: 60px;
	padding-left: 270px;
}

.navbar {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #284B63;
	z-index: 50;
	background-color: #284B63;
}

.navbar-nav {
	display: flex;
	margin-left: auto;
}

.nav-item {
	margin-top: 2px;
	margin-right: 5px;
	overflow: hidden;
}

.sidebar-menu {
	width: 80%;
	margin-top: 50px;
	display: inline-block;
	padding: 20px;
	list-style-type: none;
}

.nav_logo {
	text-decoration: none;
	font-size: 30px;
	color: white;
	padding-bottom: 5px;
}

.sidebar-item {
	width: 100%;
	padding: 10px;
	color: #FFFFFF;
}

.sidebar-user {
	visibility: visible;
}

.sidebar-admin {
	visibility: hidden;
}

.sidebar-admin>ul>li:nth-child(1) {
	font-size: 14pt;
	font-weight: bold;
	font-size: 15pt;
}

.btn_menu {
	height:25px;
	position: absolute;
	left: -5px;
	bottom: 10px;
	color: white;
	border: 0;
	background-color: #284B63;
	font-size: 11pt;
	font-weight: bold;
	width: 100%;
	padding: 0px;
}

.btn_menu:hover {
	cursor: pointer;
}


.sidebar-anchor {
	display: block;
	text-decoration: none;
	font-size: 11pt;
	color: #FFFFFF;
}

.sidebar-anchor + .second-menu {
	list-style-type: none;
	height:0px;
	overflow:hidden;
	transition: all ease 0.5s;

}

.second-menu {
	padding-left: 30px;	
}
.sidebar-anchor-collapse + .second-menu {
	list-style-type: none;
	transition: all ease 0.5s;
}

.coll-arrow {
	margin-top: 4px;
	float: right; width : 7%;
	height: 7%;
	width: 7%;
	transition: all ease 0.5s;
}

.sidebar-anchor-collapse .coll-arrow{
	margin-top: 4px;
	float: right; width : 7%;
	height: 7%;
	width: 7%;
	transition: all ease 0.5s;
	transform: rotate(90deg);
}


	
.second-item {
	font-size: 10pt;
	margin: 10px;
}

a.second-anchor {
	text-decoration: none;
	font-size: 10pt;
	color: #FFFFFF;
	
}
